Composite.groupedEventComposite {
  background-color: transparent;
}

Composite.tabrisUI {
  background-color: #222222;
  color: #000000;
}

Text[BORDER].tabrisUI {
  border-radius: 5px;
}

Text[BORDER].tabrisUI:focused {
  border: 1px solid #66afe9;
  box-shadow: outset 0 0 5px #66afe9;
}

Text-Search-Icon {
  background-image: url( images/search_icon.png );
}

Text-Cancel-Icon {
  background-image: url( images/cancel_icon.png );
}

Menu.tabrisUI {
  border: 1px solid #b7b7b7;
  background-color: #e0e5e5;
  box-shadow: outset 0 5px 5px 0 #bdbdbd;
  background-image: none;
  border-radius: 0 0 4px 4px;
}

MenuItem.tabrisUI {
  background-color: transparent;
  color: #222222;
}

MenuItem.tabrisUI:hover {
  color: #ffffff;
}

ToolBar.tabrisUI {
  color: #ffffff;
}

ToolItem.tabrisUI {
  background-color: transparent;
  color: inherit;
  padding: 8px;
}

ToolItem.tabrisUI:hover {
  background-image: none;
  border: none;
}

ToolItem.tabrisUI:pressed {
  padding: 8px;
}

ToolItem-DropDownIcon.tabrisUI {
  background-image: url( images/drop-down.png );
}

ToolItem-DropDownIcon.tabrisUI:hover {
  border: none;
}

Button[PUSH].tabrisUI {
  background-color: transparent;
  background-image: none;
  padding: 0px;
  border: none;
}

Button-FocusIndicator[PUSH].tabrisUI {
  border: none;
}