<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Tabris Target" sequenceNumber="32">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.eclipsesource.osgi.additionals.feature.group" version="1.0.0.201207280921"/>
<repository location="http://eclipsesource.github.com/osgi-additionals"/>
</location>
<location path="${project_loc:com.eclipsesource.tabris.target}/bundles" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.equinox.juno.target.feature.feature.group" version="2.0.0.20130205-1849"/>
<unit id="org.eclipse.rap.feature.feature.group" version="2.0.0.20130205-1849"/>
<repository location="http://download.eclipse.org/rt/rap/2.0/R-20130205-1849/"/>
</location>
</locations>
</target>
